body{
    background-color: #3D087B;
}
#ctime{
    height: 100px;
    width: 470px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    right: 187px;
    padding-top: 10px;
    padding-left: 25px;
}
#select_time{
    height: 350px;
    width: 566px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
   top: 120px;
    left: 70px;
}
#msg1{
    height: 60px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 178px;
    right: 187px;
    color: #8E53F0;
    font-size: 20px;
    padding-top: 30px;
    /* padding-left: 60px; */
    text-align: center;
    font-weight: bold;
}
#pics{
    height: 350px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    /* margin-top: 10px; */
    top: 314px;
    right: 187px;
    /* background: url("./Assets/some lunch.svg"); */
}
#msg2{
    height: 77px;
    width: 566px;
    background-color: #946fbe;
    border-radius: 20px;
    /* opacity: 0.23; */
    position: absolute;
    top: 496px;
    left: 70px;
}
#alarm{
    height: 50px;
    width: 249px;
    position: absolute;
    top: 600px;
    left: 70px;
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#details{
    height: 94px;
    width: 300px;
    background-color: #946fbe;
    border-radius: 20px;
    position: absolute;
    top: 590px;
    left: 331px;
    font-size: 17px;
    padding-top: 5px;
    /* color: #0a020b; */
    /* opacity: 0.23; */
}

/* Select time Css */
#select_time{
    color: #3D087B;
  
}
label{
    font-size: 17px;
}
select {
    width:200px;
    color: #3D087B;
}
.selecttimeimg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 34px;
    height: 34px;
}
.selecttimelabel{
    position: relative;
    top: 10px;
    left: 50px;
    width: 34px;
    height: 34px;
    font-size: 20px;
}
.selecttime_dropdown{
    position: relative;
    top: 10px;
    left: 100px;
    width: 200px;
    height: 25px;
}

/* MSG2 */
#msg2 h2{
    font-size: 25px;
    color: white;
    opacity: 1;
    padding-left: 55px;
}

#details span{
    color: #F25CFE;
    opacity: 1;
    padding-left: 10px;
    padding-top: 10px;
}

/* Pics */
#pics img{
    width: 500px;
    height: 350px;
}

/*CURRENT TIME*/
#time{
    display: flex;
    gap: 10px;
    font-size: 20px;
    text-align: center;
}
.square{
    width: 70px;
    border: 2px solid #F6E2FF;
    background-color: #F6E2FF;
    padding-top: 30px;
    color: #8A11BF;
}
.vr{
    position: relative;
    left: -526px;
    top: 23px;
    height: 34px;
    border-right: 1px solid black;
}
