body{
    background-color: #3D087B;
}
#ctime{
    height: 100px;
    width: 420px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    right: 167px;
    padding-top: 10px;
    padding-left: 25px;
}
#select_time{
    height: 350px;
    width: 546px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
   top: 110px;
    left: 70px;
}
#msg1{
    height: 60px;
    width: 440px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 178px;
    right: 167px;
    color: #8E53F0;
    font-size: 20px;
    padding-top: 30px;
    /* padding-left: 60px; */
    text-align: center;
    font-weight: bold;
}
#pics{
    height: 350px;
    width: 440px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    /* margin-top: 10px; */
    top: 314px;
    right: 167px;
    /* background: url("./Assets/some lunch.svg"); */
}
#msg2{
    height: 77px;
    width: 546px;
    background-color: #946fbe;
    border-radius: 20px;
    /* opacity: 0.23; */
    position: absolute;
    top: 489px;
    left: 70px;
}
#alarm{
    height: 50px;
    width: 249px;
    position: absolute;
    top: 600px;
    left: 70px;
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: 2px solid rgb(185, 52, 74);
    opacity: 1;
    font-size: 20px;
    color: white;
    cursor: pointer;
    box-shadow: -5px 5px 2px 1px rgba(188, 8, 35, 0.2);
}
#details{
    height: 110px;
    width: 280px;
    background-color: #946fbe;
    border-radius: 20px;
    position: absolute;
    top: 580px;
    left: 331px;
    font-size: 17px;
    padding-top: 5px;
    /* color: #0a020b; */
    /* opacity: 0.23; */
}

/* Select time Css */
#select_time{
    color: #3D087B;
  
}
label{
    font-size: 17px;
}
select {
    width:200px;
    color: #3D087B;
}
.selecttimeimg{
    position: relative;
    top: 20px;
    left: 20px;
    width: 34px;
    height: 34px;
}
.selecttimelabel{
    position: relative;
    top: 10px;
    left: 50px;
    width: 34px;
    height: 34px;
    font-size: 20px;
}
.selecttime_dropdown{
    position: relative;
    top: 10px;
    left: 100px;
    width: 200px;
    height: 25px;
}

/* MSG2 */
#msg2 span{
    padding-top: 5px;
    font-size: 35px;
    color: white;
    opacity: 1;
    padding-left: 45px;
}

#details span{
    color: #F25CFE;
    opacity: 1;
    padding-left: 10px;
    padding-top: 10px;
}

/* Pics */
#pics img{
    width: 440px;
    height: 350px;
}

/*CURRENT TIME*/
#time{
    display: flex;
    gap: 10px;
    font-size: 20px;
    text-align: center;
}
.square{
    width: 60px;
    border: 2px solid #F6E2FF;
    background-color: #F6E2FF;
    padding-top: 30px;
    color: #8A11BF;
}
.vr{
    position: relative;
    left: -506px;
    top: 23px;
    height: 34px;
    border-right: 1px solid black;
}


/* media query */
@media only screen and (max-width:1230px) and (min-width:920px) {
    #ctime,#msg1,#pics{
        width: 360px;
        position: absolute;
        right: 21px;
        /* top: 30 px; */
    }
    #ctime{
        width: 340px;
    }
    #time{
        gap: 5px;
    }
    #pics img{
        width: 360px;
    }
    #select_time,#msg2{
        position: absolute;
        left: 30px;
        width: 500px;
    }
    #alarm{
        position: absolute;
        left: 30px;
        width: 189px;
    }
    #details{
        width: 280px;
        left: 250px;
    }
    .square{
        width: 52px;
    }
    .vr{
        position: relative;
        left: -460px;
    }
}

@media only screen and (max-width:920px) and (min-width:790px) {
    #ctime,#msg1,#pics{
        width: 290px;
        position: absolute;
        right: 33px;
        /* top: 30 px; */
    }
    #ctime{
        width: 270px;
        height: 80px;
    }
    #time{
        gap: 2px;
    }
    #pics{
        height:300px ;
    }
    #pics img{
        width: 300px;
    }
    #select_time,#msg2{
        position: absolute;
        left: 30px;
        width: 440px;
    }
    .selecttime_dropdown{
        width: 117px;
    }
    #alarm{
        position: absolute;
        left: 30px;
        width: 169px;
    }
    #details{
        width: 210px;
        left: 220px;
    }
    .square{
        width: 40px;
    }
    .vr{
        position: relative;
        left: -400px;
    }
    #msg2{
        font-size: 20px;
    }
}

@media only screen and (max-width:790px) and (min-width:320px) {
#ctime{
    position: absolute;
    top: 110px;
    left: 40px;
    width: 526px;
}
.square{
    width: 80px;
}
#time{
    gap:10px;
}
#msg1{
    position: absolute;
    top: 236px;
    left: 40px;
    width: 546px;
}
#select_time{
    position: absolute;
    top:354px;
    left: 40px;
}
#msg2{
    position: absolute;
    top: 723px;
    left: 40px;
    width: 526px;
}
#pics{
    position: absolute;
    top: 830px;
    left: 40px;
    width: 526px; 
}
#alarm{
    top:1215px;
    left: 40px;
}
#details{
    top:1205px;
    left: 301px;
}
}